<!-- Single Featured Post -->
<% if(typeof latestPostWidget != 'undefined'){ %>
<% latestPostWidget.forEach(post =>{ %>
<% let now = new Date(post.article_date); %>

    <div class="single-blog-post small-featured-post d-flex">
        <div class="post-thumb">
            <a href="/post/<%= post.article_id %>"><img src="/img/bg-img/<%= post.image_name %>" alt=""></a>
        </div>
        <div class="post-data">
            <a href="/categori/<%=post.category_id %>" class="post-catagory"><%=post.category_title %></a>
            <div class="post-meta">
                <a href="/post/<%= post.article_id %>" class="post-title">
                    <h6><%= post.article_title %></h6>
                </a>
                <p class="post-date"><span><%= dateAndTime.format(now, 'MMMM DD, YYYY HH:mm') %></span>
            </div>
        </div>
    </div>
<%})%>
<% } %>