<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title><%- title %></title>

    <!-- Favicon -->
    <%- include('partials/favicon.ejs')%>

    <!-- Core Stylesheet -->
    <%- include('partials/stylesheet.ejs') %>

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include('partials/header.ejs')%>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
      <%- include('partials/slider.ejs')%>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Contact Form Area Start ##### -->

    <%- include('partials/contactFormular.ejs')%>

            <!-- Google Maps -->
    <%- include('partials/googlemap.ejs')%>
    <!-- ##### Contact Form Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
    <%- include('partials/footer.ejs')%>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
  <%- include('partials/scripts.ejs')%>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="/js/google-map/map-active.js"></script>
</body>

</html>